@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* body {
  background-color: #0f172d;
} */

/* Oxford Blue */
body {
  background-color: #011936;
}

/* body {
  background-color: #022336;
} */

/* 
body {
  background-color: #021e2e;
} */

/* Delft Blue */
/* body {
  background-color: #272D3F;
} */


#typewriter-animate1 {
  border-right: transparent;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing1 1s steps(20, end),
    cursor-blink1 1s steps(2, end) 1s,
    cursor-hide1 0s 1s forwards;
}

@keyframes cursor-blink1 {
  50% {
    border-color: transparent;
  }
}

@keyframes typing1 {
  from {
    width: 0;
  }
}

@keyframes cursor-hide1 {
  to {
    border-color: transparent;
  }
}


#typewriter-animate2 {
  border-right: transparent;
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing1 1s steps(18, end),
    cursor-blink1 1s steps(2, end) 1s,
    cursor-hide1 0s 1s forwards;
}

@keyframes cursor-blink2 {
  50% {
    border-color: transparent;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }

}

@keyframes cursor-hide2 {
  to {
    border-color: transparent;
  }
}


#typewriter-animate3 {
  border-right: transparent;
  width: 100%;
  overflow: hidden;
  animation:
    typing3 1s steps(18, end),
    cursor-blink3 1s steps(2, end) 1s,
    cursor-hide3 0s 1s forwards;
}

@keyframes typing3 {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0); 
  }
}

@keyframes cursor-blink3 {
  50% {
    border-color: transparent;
  }
}

@keyframes cursor-hide3 {
  to {
    border-color: transparent;
  }
}